header h1 {
    text-align: center;
}
header {
    background-color: antiquewhite;
}

header p {
    text-align: center;
    font-size: 50px;
}

container {
    display: flex;
    height: 100%;
    border-style: solid;
    margin-left: 5%;
    margin-right: 5%;
}

section {
    display: flex;
    margin: 10px;
    margin: 2%;
}

#city-search {
    margin: 10px;
    height: 5%;
    font-size: 200%;
}

#search-section {
    width: 25%;
    height: 600px;
    flex-direction: column;
}

#display {
    width: 40%;
    height: 600px;
    flex-direction: column;
    width: 80%;
    display: fle
}

#display-today{
    height: 300px;
}
#display-today p{
    font-size: 120%;
    margin: 2%;
}
div h2 {
    text-align: center;
    font-size: 300%;
}

#display-week {
    height: 300px;
    display: flex;
    justify-content: center;
}

.week-block {
    border-style: solid;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 15%;
}

.week-block h3 {
    text-align: center;
}

.week-block p {
    padding: 1%;
}

.lowUV {

}

.mediumUV {

}

.highUV {

}

#search-section p {
    border-style:groove;
    margin: 2px;
}

.cities:hover {
    box-shadow: 1px, 1px, black;
}